#landing
  Support Worldwide Education In Three Steps
  #landing_inner
    #list
      .listitem#find{:num => "1"}
        Find
      .listitem#adopt{:num => "2"}
        Adopt
      .listitem#grow{:num => "3"}
        Grow
    .description#find_desc
      Find a school in need of help, through a list compiled by our team.
    .description#adopt_desc
      Adopt that school, and work with them to provide what they need.
    .description#grow_desc
      Help that school to grow, and watch your relationship flourish.