%h1
	Mission Statement
%p
	EkoSchools is a group of dedicated and devoted students committed to establishing sustainable partnerships between willing and able United States high schools and service organizations and low-income schools in foreign countries. We initiate the communication that will sustain the relationship and begin a great legacy.
%p.question
	How do we establish these connections?
%p.answer
	Our involvement is limited to providing a platform as the initial communication between the two partnered schools. We link those schools with resource needs to those willing and able to help.
	We are connected to schools and service organizations within the U.S. that are willing to hold fundraisers and other forms of charity to gain funds and resources to be sent to their partnered schools.
	The U.S. schools attain specific resources needed by their partnered school, and transport those resources in the way decided between the two partner schools.
%p.question
	What does Eko mean?
%p.answer
	Eko is the Yoruba word for knowlege.
%p.question
	What can you do to get involved?
%p.answer
	Ask your school or other organizations if they would be interested in adopting a school!
	This would entail (allow instead of entail?) your school or other service organizations (NHS, Foreign Language Honors Societies, etc) to have a partnership with an abroad school, and hold fundraisers or other events to support your sister school.
	This is not an exceptionally difficult task, as there are many sister school partnerships that already exist and thrive in the United States. Partnering with a school gives your organization a great opportunity to fulfill service requirements, as well as learn about the culture of and general information about your sister school, and its students.  